
<div class="fluid-container">
    <div class="row">
        <div class="col-sm-3" style="padding: 0 !important;">
            <div class="side-menu" >
                <ul>
                    <li><a routerLink="/dashboard/home" >Home</a></li>
                    <li><a routerLink="/dashboard/hotels">Hotels</a></li>
                    <li><a routerLink="/dashboard/hotelsreservations">Hotels reservations requests </a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-sm-9" style="padding: 0 !important;"><router-outlet></router-outlet></div>
    </div>
</div>  



