
  <!-- As a heading -->
  <nav class="navbar navbar-light  nav-bar-app">
    <span class="navbar-brand mb-0 h1">Home</span>
  </nav>


  <div class="container my-5">
    <h3>UPDATES</h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h6>New Hotel reservations</h6>
            <strong>5</strong><br/>
            <a routerLink="/dashboard/hotelsreservations">see more</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>